.links
{
display: inline-block;
padding-left: 3%;

}
.but1
{
display: inline-block;
width:30%;


}


header 
{
background-color : #B0E0E6;
width:100%;
}
body
{
background-color: #E2F6FF;
}

table
{
width : 30%;
background-color: Lavender;
}

p
{
background-color:White;
 font-weight:bold;
}

.detail
{
color: black;
padding: 15px 32px;
font-size : 16px;
background-color: Lavender;
width:100%;
}


input[type=submit]
{
 font-weight:bold;
 width:100%;

}

/*different table style */
.two
{
width: 20%;
background-color: White;
}
.three
{
width: 40%;
}
.four
{
width: 80%;
}
.five
{
	width: 50%;
	text-align:left;
	
	
}

.baton
{
  background: #3A72FF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#3A72FF, #CDDBFF); 
    background: -o-linear-gradient(#3A72FF, #CDDBFF);
    background: -moz-linear-gradient(#3A72FF, #CDDBFF);
    background: linear-gradient(#3A72FF, #CDDBFF);
    color: white;
    padding: 12px 30px;
	text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
	width: 80%;
}

.baton2
{
 background: #3A72FF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#3A72FF, #CDDBFF); 
    background: -o-linear-gradient(#3A72FF, #CDDBFF);
    background: -moz-linear-gradient(#3A72FF, #CDDBFF);
    background: linear-gradient(#3A72FF, #CDDBFF);
    color: white;
    padding: 12px 30px;
	text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
	width: 80%;
	
}

/*Hover style for both button in header and food purchase process*/

.baton:hover
{
  background: #0C50FF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#3A72FF, AliceBlue); 
    background: -o-linear-gradient(#3A72FF, AliceBlue);
    background: -moz-linear-gradient(#3A72FF, AliceBlue);
    background: linear-gradient(#3A72FF,AliceBlue);
    border: none;
    color: white;
    padding: 13px 31px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	width: 90%;
}

.baton2:hover
{
 background: #0C50FF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#3A72FF, AliceBlue); 
    background: -o-linear-gradient(#3A72FF, AliceBlue);
    background: -moz-linear-gradient(#3A72FF, AliceBlue);
    background: linear-gradient(#3A72FF,AliceBlue);
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	width: 100%;
}



