/*sidebar*/
div.side{
	position:relative;
	width:18%;
	min-height:90%;
	height: 100%;
	float:left;
	margin-right: 25px;
	background:#6E757C;
}

#side a {
	color: #FFFFFF;
	display: block;
	text-decoration: none;
	padding:auto;
	margin:auto;
	padding-left: 1vw;
	text-align:left;
	font-size:1.5vw;
}

#side a:hover{
	background: none repeat scroll LightGrey;
	color: Black;
	text-shadow: 0px 0px 5px White;
	display: block;
	text-decoration: none;
	padding-left: 1vw;
	margin:auto;
	font-size:1.5vw;
}

ul,li {
	list-style-type: none;
    list-style-position:outside;
    margin:auto;
	padding: 0.5vw;
}

/*Notifications*/
div#popupContact {
	position:absolute;
	left:50%;
	top:17%;
	margin-left:-202px;
	font-family:'Raleway',sans-serif
}

.selectname
{
	width: 100%;
	
}

.valuenum
{
	width: 100%;
	
}

.itemchoose
{
	border: none;
	width:50%;
	
}

#poppy {
	width:100%;
	height:100%;
	opacity:.96;
	top:0;
	left:0;
	display:none;
	position:fixed;
	background-color:#313131;
	overflow:auto;
}

.form2 {
	max-width:300px;
	min-width:250px;
	margin: auto;
	margin-left: 275px;
	padding:10px 50px;
	border:2px solid gray;
	border-radius:10px;
	background-color:#fff;
}


/*Global*/
body{
	background-image:url(img/background.png);
	padding:auto;
	margin:auto;
	height: 100vh;
	font-family: Tahoma, Geneva, sans-serif;
}

hr {
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
 }

h1 {
	color:#219DE8;
}
 
div.top{
	background: #50505A;/* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#50505A, #6A7480, #50505A); 
    background: -o-linear-gradient(#50505A, #6A7480, #50505A); 
    background: -moz-linear-gradient(#50505A, #6A7480, #50505A); 
    background: linear-gradient(#50505A, #6A7480, #50505A); 
	padding:0;
	margin:0;
	height:3vw;
	color: FFFFFF;
	padding-top: 1vw;
	padding-right: 1vw;
	font-size: 1vw;
	text-align: right;
	z-index: 2;
}

div.btm{
	clear:both;
	text-align: center;
	bottom: 0;
	padding:auto;
	min-height:2vw;
	margin:auto;
	background-color:DarkGrey;
	clear: both;
}

th, td {
	padding: 10px;
	margin: 0;
	border: solid;
}

table {
	border-collapse: collapse;
}

table.selectable tbody tr:hover{
    background-color:#48a4ff;
    cursor: pointer;
}

table.selectable thead tr, table thead tr{
    background-color:#4db8ff;
	border-style:solid;
	cursor: default;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.selected {
	background-color:#4848ff;
}

.add {
    background-color: #0DB4F7;
    border: none;
	border-radius: 6px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.delet {
    background-color: #F15555;
    border: none;
	border-radius: 6px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.view {
    background-color: #76DF66;
    border: none;
	border-radius: 6px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.submit{
    background-color: #66DF71;
    border: none;
	border-radius: 6px;
    color: white;
    padding: 10px 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.addsalestitle{
	background-image:url(img/background.png);
	padding:0;
	margin:0;
	font-family: Tahoma, Geneva, sans-serif;
}
